@import './variables.scss';

.common {
  &Padding {
    padding: $main-gap;
  }

  &Transition {
    transition: all .3s;
  }

  &Button {
    @extend .commonTransition;
    cursor: pointer;
    max-width: 250px;
    width: inherit;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $main-color;
    border-radius: $border-radius;

    &Active {
      color: $main-color;
      background-color: $white-color;
    }

    &InActive {
      color: $white-color;
      background-color: $main-color;
    }

    &Hover {
      transform: scale(1.1);
    }
  }
}

.arrow {
  content: '';
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: black;
  border-radius: $border-radius;

  &Up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: $arrow-width-height;
    height: $arrow-width-height;

    &::before {
      @extend .arrow;
      transform: rotate(45deg);
      right: 6px;
    }

    &::after {
      @extend .arrow;
      transform: rotate(-45deg);
      left: 6px;
    }
  }
}

.defaultForm {
  @extend .commonTransition;
  font-size: 16px;
  width: 100%;
  color: rgb(51, 51, 51);
  outline: none;
  appearance: none;
  min-height: $input-min-height;
  border-radius: 5px;
  border: 1px solid rgb(198, 198, 198);
  padding: 0 $default-form-padding;

  &Focus {
    border-color: $main-color;
    box-shadow: 0 1px 6px 0 lightgrey;
  }

  &Hover {
    border-color: $main-color;
  }
}
.defaultFormButton {
  @extend .defaultForm;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerArrow {
  content: '';
  position: absolute;
  width: 1px;
  height: 8px;
  background-color: $register-color;
  border-radius: $border-radius;
}

.form {
  &SelectMain,
  &InputText,
  &PhoneAreaCodeSelectMain,
  &PhoneInputText,
  &MobileLeftInput {
    @extend .defaultForm;

    &:focus {
      @extend .defaultFormFocus;
    }

    &:hover {
      @extend .defaultFormHover;
    }
  }

  &Select {
    &Container {
      width: 100%;
      position: relative;
    }

    &Arrow {
      @extend .arrowUp, .commonTransition;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);

      &::before, &::after {
        background-color: rgb(109, 114, 120);
      }
    }

    &Main {
      padding-right: calc(#{$default-form-padding + $arrow-width-height});
    }
  }

  &Phone {
    &Container {
      display: flex;
      gap: $form-phone-gap;
    }

    &AreaCode {
      &Container {
        width: 20%;
        position: relative;
      }

      &SelectMain {
        padding-right: calc(#{$default-form-padding + $arrow-width-height});
      }
    }

    &InputText {
      width: calc(80% - #{$form-phone-gap});
    }
  }

  &Mobile {
    &LeftInput {
      @extend .formPhoneAreaCodeContainer;
    }
  }

  &RegisterButton {
    &Disabled {
      @extend .defaultFormButton;
      cursor: not-allowed;
      color: rgb(209, 209, 209);
      background-color: rgb(233, 233, 233);
    }

    &Allowed {
      @extend .defaultFormButton;
      cursor: pointer;
      color: $white-color;
      background-color: $main-color;
    }
  }
}