$main-color: rgb(3, 35, 98);
$white-color: rgb(255, 255, 255);
$border-color: rgb(242, 242, 242);
$content-text-color: rgb(1, 37, 79);
$register-color: rgb(107, 183, 24);
$description-text-color: rgba(0, 0, 0, .65);

$button-height: 50px;
$arrow-width-height: 20px;
$input-min-height: 50px;

$main-gap: 20px;
$form-phone-gap: 28px;

$border-radius: 5px;
$form-max-width: 580px;
$default-form-padding: 12px;

$card-list-padding: 80px;