@import '../../styles/variables.scss', '../../styles/base.scss', '../../styles/animation.scss';

.header {
  max-height: 119px;
  height: inherit;
  border-bottom: 1px solid $border-color;
  width: 100%;
  display: flex;
  align-items: center;
  @extend .commonPadding;

  &Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;

    &Img {
      height: 100%;
      cursor: pointer;
    }
  }

  &NavGroup {
    width: 50%;
    display: flex;
    justify-content: space-around;

    &DropDown {
      &Button {
        position: relative;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        height: $button-height;
      }

      &Content {
        display: none;
        position: absolute;
        background-color: $white-color;
        min-width: 160px;
        border: 1px solid $main-color;
        z-index: 1;
        border-radius: $border-radius;

        a {
          color: black;
          height: $button-height;
          text-decoration: none;
          display: flex;
          align-items: center;
          padding-left: 10px;

          &:first-child {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
          }

          &:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }

          &:hover {
            background-color: $border-color;
          }
        }
      }

      &:hover {
        .headerNavGroupDropDownContent {
          display: block;
          animation: fadeIn .5s;
        }

        .headerNavGroupDropDownButton i {
          @extend .commonTransition;
          transform: rotate(-180deg);
        }
      }
    }
  }

  &ButtonGroup {
    width: 30%;
    height: $button-height;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $main-gap;

    &Login {
      @extend .commonButton, .commonButtonActive;

      &:hover {
        @extend .commonButtonHover;
      }
    }

    &Register {
      @extend .commonButton, .commonButtonInActive;

      &:hover {
        @extend .commonButtonHover;
      }
    }
  }
}