@import '../../styles/variables.scss', '../../styles/base.scss';

.cardList {
  width: 100%;
  height: inherit;
  max-height: 788px;
  background-color: rgb(242, 242, 242);
  padding: 80px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  align-items: center;
  gap: $main-gap;
  overflow-x: auto;
  max-width: 9999px;

  &Item {
    @extend .commonTransition;
    height: 300px;
    min-width: 380px;
    border: 1px solid rgb(214, 214, 214);
    background-color: $white-color;
    padding: $main-gap;
    gap: $main-gap;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 6px 0 lightgrey;

    &:hover {
      border-color: $main-color;
    }

    &Header {
      color: $content-text-color;
    }

    &Content {
      display: flex;
      max-width: 85%;
      flex-direction: column;
      height: 70%;
      gap: 14px;

      &Topic {
        font-size: 16px;
        color: $content-text-color;
        font-weight: 600;
      }

      &Message {
        font-size: 16px;
        color: $description-text-color;
        font-weight: 400;
      }

      &Time {
        margin-top: 6px;
        font-size: 14px;
        color: $description-text-color;
        font-weight: 400;
      }
    }

    &Footer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $register-color;
      font-weight: 600;
      font-size: 16px;

      &Text {
        @extend .commonTransition;
        cursor: pointer;
        padding: 5px;

        &:hover {
          color: $white-color;
          background-color: $register-color;
          border-radius: $border-radius;
        }
      }

      &Register {
        @extend .commonTransition;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        bottom: 0;
        width: 22px;
        height: 22px;
        background-color: $white-color;
        border: 1px solid $register-color;
        border-radius: 9999px;
        transform: rotate(-90deg);

        &::before {
          @extend .registerArrow;
          transform: rotate(45deg);
          right: 7px;
        }

        &::after {
          @extend .registerArrow;
          transform: rotate(-45deg);
          left: 7px;
        }

        &:hover {
          background-color: $register-color;

          &::before,
          &::after {
            background-color: $white-color;
          }
        }
      }
    }
  }
}